.card-container {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    justify-content: center;
    transition-property: color, background-color, border-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.card {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media (min-width: 768px) {
        width: 33.333333%;
    }
}