:root {
    --body-color: rgba(0,0,0,0.8);
    --primary-color: #00a672;
    --primary-color-dark: #00835c;
    --header-height: 58px;
    --bg: #fff;
    --bg-secondary: #f7f9f8;
    --bg-transparent: hsla(0,0%,100%,0.9);
    --bg-teritary: #f7f9f8;
    --dark-bg: #0d2538;
    --code-bg: #0e2233;
    --select-color: rgba(212,53,159,0.2);
    --inline-code-text: #b32585;
    --inline-code-bg: rgba(212,53,159,0.03);
    --border-color: #e2ecec;
    --border-color-darker: #cfe6e6;
    --mark-color: #fff8ec;
    --border-radius: 5px;
    --success-bg: rgba(91,177,150,0.25098039215686274);
    --space: 25px;
    --space-x2: 50px;
    --code-color: #fdf9f3;
    --glow: 2px 2px 15px 0 var(--border-color-darker);
}

/* 1. # - ###### 标题转换为 <h1> - <h6> 标签 */

h3 {
    color: darkgoldenrod;
}

h4 {
    color: cadetblue;
}

/* 区块引用 > 转换为 <blockquote> 标签 */
blockquote {
    border-left: 4px solid darkgoldenrod;
    padding: 1px 10px;
    color: #666;
    background-color: rgba(184, 134, 11, 0.1);
}

pre {
    padding: 0 20px;
    background-color: beige;
}
/* pre code {
    font-size: 16px;
} */